@import "./variables";

$color--white: #fff;
$color--primary: #000;
$color--magenta: rgba(204,0,51);
$color--red: #ff0000;
$color--border: #ccc;
$color--green: green;
$color--blue: blue;
$color--pale-black: #322f30;
$color--ghostwhite: ghostwhite;